{% extends 'base.html' %}

{% block title %} Crear Vivero {% endblock %}

{% block current1 %} <span class="sr-only">(current)</span> {% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    
    <div class="form-group"> <!-- Código de identificación del vivero -->
        <label for="vivero_codigo" class="control-label">Codigo Vivero</label>
        <input type="text" class="form-control" id="vivero_codigo" name="vivero_codigo" placeholder="Código" required>
    </div>   

    <div class="form-group"> <!-- Tipo de cultivo del vivero -->
        <label for="vivero_cultivo" class="control-label">Tipo Cultivo</label>
        <input type="text" class="form-control" id="vivero_cultivo" name="vivero_cultivo" placeholder="Tipo cultivo" required>
    </div>                    
               
    <div class="form-group"> <!-- Finca donde se encuentra el vivero -->
        <label for="state_id" class="control-label">Seleccione el catastro de la finca donde se encuentra el vivero</label>
        <select class="form-control" name="seleccion_finca" required>
            <option value="">----</option>
            {% for finca in fincas %}  
            <option value="{{finca.numero_catastro}}">{{finca.numero_catastro}}</option>
            {% endfor %}
        </select>                    
    </div>    
    
    <div class="form-group"> <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>     
    
</form>
{% endblock %}