{% extends 'base.html' %}

{% block title %} Ver detalles productor {% endblock %}

{% block current1 %} <span class="sr-only">(current)</span> {% endblock %}

{% block content %}


<h1>{{nombres_productor}} {{apellidos_productor}}</h1>
<br>
<h2>Fincas</h2>
<br>


<div class="row">
    {% for finca in productor_fincas %}
    <div class="col-sm-6 py-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Catastro: {{finca.numero_catastro}}</h5>
            <p class="card-text">Ubicación: {{finca.municipio_ubicacion}}</p>
            <a href="verDetalleProductorViveros/{{finca.numero_catastro}}/" class="btn btn-primary">Ver sus viveros</a>
            </div>
        </div>    
    </div>    
    {% endfor %}  
</div>
{% endblock %}