{% extends 'base.html' %}

{% block title %} Ver detalles productor {% endblock %}

{% block current1 %} <span class="sr-only">(current)</span> {% endblock %}

{% block content %}



<h1>Fincas</h1>

{% for finca in productor_fincas %}
    <p>Catastro: {{finca.numero_catastro}}</p>
    <li>Ubicación: {{finca.municipio_ubicacion}}</li>
    <a href="">Ver sus viveros</a>
    <br><br>
{% endfor %}
<!--<h1>Nombre productor: {{productor_info}}</h1>
<div class="table-responsive py-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Teléfono</th>   
                <th>Email</th>
                <th colspan="2">Opciones</th>                                            
            </tr>
        </thead>
        <tbody>
            {% for productor in productores %}
            <tr>
                <td>{{productor.documento_productor}}</td>
                <td>{{productor.nombres_productor}}</td>
                <td>{{productor.apellidos_productor}}</td>
                <td>{{productor.telefono_productor}}</td>
                <td>{{productor.correo_productor}}</td>
                <td><a href="" class="btn btn-info">Ver detalle</a></td>                      
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>-->
{% endblock %}